<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New Listing</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script>
            $(function(){
                $('#navbar').load('navbar.html');
                window.scrollTo(-20,0);
            });
        </script>
    </head>
    <body>
    <div id="navbar"></div>
        <h1>Current Listings</h1>

        <!-- Error Message -->
        <div th:if="${error}" class="alert alert-danger text-center">
            <span th:text="${error}"></span>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Book ISBN</th>
                <th scope="col">Book Title</th>
                <th scope="col">Publisher</th>
                <th scope="col">Add to Cart</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listing : ${listings}">
                <td th:text="${listing.ISBN}"></td>
                <td>
                    <a th:href="@{/listing/{id}(id=${listing.id})}" th:text="${listing.name}"></a>
                </td>
                <td th:text="${listing.book.publisher.username}"></td>
                <td>
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="listingId" th:value="${listing.id}" />
                        <input type="number" name="quantity" min="1" max="${listing.remainingCopies}" value="1" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </body>

</html>