<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#navbar').load('navbar.html');
            window.scrollTo(-20,0);
        });
    </script>
</head>
<body>
<div id="navbar"></div>
<div class="container">
    <h1 class="my-4">Manage Authors</h1>

    <!-- Form to Add a New Author -->
    <h2>Add New Author</h2>
    <form action="/authors" method="post">
        <div class="form-group">
            <label for="authorName">Name:</label>
            <input type="text" id="authorName" name="name" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="authorBio">Biography:</label>
            <textarea id="authorBio" name="bio" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add Author</button>
    </form>

    <!-- Display Existing Authors -->
    <h2 class="my-4">Author List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Biography</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.name}">Author Name</td>
            <td th:text="${author.bio}">Biography</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>