<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#navbar').load('navbar.html');
            window.scrollTo(-20,0);
        });
    </script>
</head>
<body>
<div id="navbar"></div>
<h1>Add New Book</h1>

<form th:action="@{/books}" method="post" enctype="multipart/form-data">
    <label for="name">Title:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>

    <label for="publisher">Publisher:</label>
    <select id="publisher" name="publisher" required> <!-- "multiple" allows multi-select -->
        <option th:each="publisher : ${publishers}" th:value="${publisher.username}" th:text="${publisher.username}"></option>
    </select>

    <label for="pageCount">Page Count:</label>
    <input type="number" id="pageCount" name="pageCount">

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">



    <label for="authorSelect">Select Authors:</label>
    <select id="authorSelect" name="authorIds" multiple required> <!-- "multiple" allows multi-select -->
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
    </select>

    <label for="coverImage">Book Cover Image:</label>
    <input type="file" id="coverImage" name="coverImage" accept="image/*">

    <button type="submit">Add Book</button>
</form>

</body>
</html>