<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#navbar').load('navbar.html');
            window.scrollTo(-20,0);
        });
    </script>
</head>
<body>
<div id="navbar"></div>
<h1>Create New Listing</h1>

<!--<form action="/newListings" method="post">-->
<!--    <label>Select Book:</label>-->
<!--    <select id="bookSelect" name="bookId" required>-->
<!--        <option value="">&#45;&#45; Select a Book &#45;&#45;</option>-->
<!--        &lt;!&ndash; Thymeleaf loop to populate options with books &ndash;&gt;-->
<!--        <option th:each="book : ${books}"-->
<!--                th:value="${book.id}"-->
<!--                th:text="${book.title}"></option>-->
<!--    </select>-->

<!--    <button type="submit">Submit</button>-->
<!--</form>-->

<form action="/newListing" method="post">
    <div>
        <label for="name">Listing Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
    <label for="ISBN">ISBN:</label>
    <input type="text" id="ISBN" name="ISBN" required>
    </div>
    <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    </div>
    <div>
        <label for="DatePublished">Date Published:</label>
        <input type="date" id="DatePublished" name="DatePublished" required>
    </div>
    <div>
        <label for="format">Format:</label>
        <select id="format" name="format" required>
            <option value="">-- Select Format --</option>
            <option value="HARDCOVER">Hardcover</option>
            <option value="PAPERBACK">Paperback</option>
            <option value="EBOOK">eBook</option>
        </select>
    </div>
    <label for="OriginalPrice">Original Price:</label>
    <input type="number" id="OriginalPrice" name="OriginalPrice" step="0.01" required>
    <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="CopiesRemaining" required>
    </div>
    <div>
    <label>Select Book:</label>
        <label for="bookSelect"></label>
        <select id="bookSelect" name="bookId" required>
        <option value="">-- Select a Book --</option>
        <option th:each="book : ${books}"
                th:value="${book.id}"
                th:text="${book.name}"></option>
    </select>
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Create Listing</button>
    </div>
</form>

</body>
</html>